{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %} Home {% endblock %} - Calculate commission</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    {% block css %} {% endblock %}
  </head>

  <body>
    {% include 'includes/_header.html' %}

    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        {% if forloop.first %}
              <li{% if message.tags %} class="{{ message.tags }} {% if message.tags == 'success' %} alert alert-{{ message.tags }}{% elif message.tags == 'error' %} alert alert-danger {% endif %}"{% endif %}>{{ message }}</li>
              {% endif %}
        {% endfor %} 
      </ul>
    {% endif %}

    <div class="container">{% block content %} {% endblock %}</div>

    <!-- Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    {% block js %} {% endblock %}
  </body>
</html>
